.home {
    background-color: #363D4D;
    width: 100vw;
    height: 100vh;
    margin: auto;
    padding: 0;
    position: relative;
}
.leftTop{
    background: #B370B0;
    filter: blur(125px);
    position: absolute;
    width: 230px;
    height: 230px;
    color: aqua;
    margin-top: -50px;
    margin-left: -50px;
}
.rightTop{
    float: right;
    background: #69E5FF;
    filter: blur(100px);
    width: 250px;
    height: 250px;
}
.right{
    float: right;
    background: #D220CA;
    margin-top: 200px;
    margin-right: -250px;
    filter: blur(100px);
    width: 200px;
    height: 200px;
}
.container-header{
    width: 100%;
    display: flex;
}
.container-center{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    height: 100vh;
    width: 70vw;
}
.imgAndGrid{
    width: 100%;
    display: flex;
}

.panelImg{
    margin-top: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    margin-right: 0.6%;
    width: 60%;
    height: 400px;
    display: flex;
    justify-content: center;
    padding: calc(3%/2);
    box-sizing: border-box;
}
.panelGrid{
    padding: 15px;
    margin-top: 10px;
    margin-left: 0.6%;
    border-radius: 12px;
    background: #FFFFFF;
    width: 100%;
    height: 400px;
    position: relative;
    display: flex;
    padding: 0;    
    box-sizing: border-box;
}
.bottonGrid{
    width: 100%;
    position: absolute;
    bottom: 0;

}
.dataGrid{
    width: 100%;
}
.container-botton{
    width: 100%;
    display: flex;
}
