.fundo{
    background-color: #363D4D;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;    
    color: aliceblue;
    display: flex;
    align-items: center;
}
.logo{
    display: initial;
    margin: auto;
    z-index: 6;
    overflow: hidden;
    background-color: aquamarine;
    background-repeat: no-repeat;
    height: 450px;
}
.campos{
    background-color: bisque;
}
.logo2{
    width: 100vw;     
    height: 450px;
}
.imgLogin{
    width: 100vw;     
    padding: 0;
    height: 100vh;
    margin: 0;
}
