.fundo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363D4D;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;    
    color: aliceblue;
}
.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
    background-repeat: no-repeat;
    height: 70vh;
}
.campos{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-color: bisque;
}
