table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
    overflow:hidden;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
}

tbody{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

tbody tr td{
    background: #F1F3F9;
}
thead tr th{
    background: #F1F3F9;
}
.CabecalhoGrid{
    height: 40px;
    background: #C0CEEB;
}
.corpoGrid tr .col-1{
    width: 10%
}
.corpoGrid tr .col-2{
    width: 40%;
}
.corpoGrid tr .col-3{
    width: 8%
}
.corpoGrid tr .col-4{
    width: 10%
}
.corpoGrid tr .col-5{
    width: 8%
}
.corpoGrid tr .col-6{
    width: 10%
}